<div style="margin-top: 20px; margin-bottom: 20px">
    <b style="font-size: 16px; color: #444">Smart Bluetooth no disponible</b>
</div>
<div style="margin-top: 20px; justify-content: center;" class="horizontal-container">

  <div style="color: #444;" class="text-container">
    <mat-list style="margin-top: 20px">
      <mat-list-item>
        <p>Smart Bluetooth no es soportado en este dispositivo o navegador, se requiere una versión de bluetooth 4.0 o mayor. Presione <a href="http://caniuse.com/#search=Bluetooth">aqui</a> para verificar los navegadores con Smart bluetooth </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>

