<div style="margin-top: 20px;">
  <b style="font-size: 16px; color: #444">Lectora en reposo, presionar botón lateral para activar</b>
</div>
<div style="margin-top: 20px;" class="horizontal-container">
<svg-icon src="assets/civica-card-reload-pos/bluetooth_connected.svg" [svgStyle]="{'width':150, 'height': 150,'fill':'#838583'}"></svg-icon>
<div style=" margin:auto; margin-left: 0px; color: #444;" class="vertical-container">
    <b style="font-size: 16px; color: #444">Lectora conectada:</b>
    <p style="font-size: 16px; ">{{deviceName}}</p>
</div>
</div>
