@import '../afcc-reloader.component.scss';

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pos-button {
  width: 90px;
  height: 40px;
  margin: 3px
}

.sale-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
