<mat-card style="min-height: 500px; height: auto; max-width: 500px;">
  <mat-card-header >
    <div *ngIf="!(showBackButton() | async)" mat-card-avatar>
      <svg-icon
        *ngIf="(operabilityState$ | async).valueOf() !== 'UNKNOWN_POSITION'"
        src="assets/civica-card-reload-pos/{{getHeaderIcon$() | async}}"
        [svgStyle]="{ width: 40, height: 40, fill: getHeaderIconColor$() | async }"
      ></svg-icon>
      <svg-icon
      *ngIf="(operabilityState$ | async).valueOf() === 'UNKNOWN_POSITION'"
      src="assets/civica-card-reload-pos/unknown_position.svg"
      [svgStyle]="{ width: 40, height: 40, fill: '#F44336' }"
    ></svg-icon>
    </div>
    <button
      *ngIf="(showBackButton() | async)"
      mat-card-avatar
      (click)="backToHome()"
      color="primary"
      mat-mini-fab
    >
      <svg-icon src="assets/civica-card-reload-pos/back.svg" [svgStyle]="{ fill: '#fff' }"></svg-icon>
    </button>
    <button
      *ngIf="(showDisconnectDevice() | async)"
      mat-stroked-button
      (click)="disconnectDevice()"
      style=" position: absolute; right: 20px;"
      color="warn"
    >
      Desconectar
    </button>
    <mat-card-title style="font-size: 19px;"><b>Venta carga</b></mat-card-title>
    <mat-card-subtitle>Tarjetas Civica</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar
    *ngIf="
      (operabilityState$ | async).valueOf() === 'CONNECTING' ||
      (operabilityState$ | async).valueOf() === 'READING_CARD' ||
      (operabilityState$ | async).valueOf() === 'REQUESTING_RELOAD_PERMISSION'
    "
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-bar>
  <mat-card-content>
    <div class="vertical-container">
      <mat-divider
        *ngIf="
          (operabilityState$ | async).valueOf() !== 'CONNECTING' ||
          (operabilityState$ | async).valueOf() !== 'READING_CARD' ||
          (operabilityState$ | async).valueOf() !==
            'REQUESTING_RELOAD_PERMISSION'
        "
      ></mat-divider>
      <div class="vertical-container">
        <app-unknown-position
          *ngIf="(operabilityState$ | async).valueOf() === 'UNKNOWN_POSITION'"
        ></app-unknown-position>
        <app-bluetooth-connection
          *ngIf="
            (operabilityState$ | async).valueOf() === 'DISCONNECTED' ||
            (operabilityState$ | async).valueOf() === 'CONNECTING'
          "
        ></app-bluetooth-connection>
        <app-afcc-info
          *ngIf="(operabilityState$ | async).valueOf() === 'CONNECTED'"
        ></app-afcc-info>
        <app-read-card
          *ngIf="
            (operabilityState$ | async).valueOf() === 'READING_CARD' ||
            (operabilityState$ | async).valueOf() === 'CARD_READED' ||
            (operabilityState$ | async).valueOf() ===
              'REQUESTING_RELOAD_PERMISSION'
          "
        ></app-read-card>
        <bluetooth-not-available
          *ngIf="(operabilityState$ | async).valueOf() === 'BLUETOOTH_NOT_AVAILABLE'"
        ></bluetooth-not-available>
        <app-internal-error
          *ngIf="(operabilityState$ | async).valueOf() === 'INTERNAL_ERROR'"
        ></app-internal-error>
        <app-read-card-error
          *ngIf="(operabilityState$ | async).valueOf() === 'READING_CARD_ERROR'"
        ></app-read-card-error>
        <app-reload-card
          *ngIf="(operabilityState$ | async).valueOf() === 'RELOADING_CARD'"
        ></app-reload-card>
        <app-reload-card-aborted
          *ngIf="
            (operabilityState$ | async).valueOf() === 'RELOAD_CARD_ABORTED'
          "
        ></app-reload-card-aborted>
        <app-reload-card-error
          *ngIf="
            (operabilityState$ | async).valueOf() === 'RELOADING_CARD_ERROR'
          "
        ></app-reload-card-error>
        <app-reload-card-successfully
          *ngIf="
            (operabilityState$ | async).valueOf() === 'RELOAD_CARD_SUCCESS'
          "
        ></app-reload-card-successfully>
        <app-afcc-idle
          *ngIf="(operabilityState$ | async).valueOf() === 'IDLE'"
        ></app-afcc-idle>
        <app-reload-card-refused
          *ngIf="
            (operabilityState$ | async).valueOf() === 'RELOAD_CARD_REFUSED'
          "
        ></app-reload-card-refused>
      </div>
    </div>
  </mat-card-content>
</mat-card>
