<div style="margin-top: 20px;">
  <b style="font-size: 16px; color: #444">Fallo tratando de leer la tarjeta</b>
</div>
<div style="margin-top: 20px;" class="horizontal-container">
  <div
    style=" margin:auto; margin-left: 0px; color: #444;"
    class="vertical-container"
  >
    <mat-list>
      <mat-list-item *ngIf="operationState === 'READING_CARD_ERROR'">
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Asegúrese que la tarjeta se encuentra de forma fija y centrada en el
        lector
      </mat-list-item>
      <mat-list-item *ngIf="operationState === 'CARD_READED_NOT_SUPPORTED'">
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        El tipo de tarjeta ingresada no es soportada actualmente
      </mat-list-item>
      <mat-list-item *ngIf="operationState === 'NO_BALANCE'">
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Saldo insuficiente para realizar la operación
      </mat-list-item>
      <mat-list-item *ngIf="operationState === 'BUSINESS_NOT_ACTIVE'">
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Unidad de negocio inactiva, por favor comuniquese con administración
        para solucionar este problema
      </mat-list-item>
      <mat-list-item *ngIf="operationState === 'BUSINESS_WALLET_NOT_FOUND'">
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Su unidad de negocio no se encuentra con una billetera activa, , por
        favor comuniquese con administración para solucionar este problema
      </mat-list-item>
      <mat-list-item
        *ngIf="operationState === 'BUSINESS_WALLET_SPENDING_FORBIDDEN'"
      >
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Saldo insuficiente para realizar la operación
      </mat-list-item>
      <mat-list-item
        *ngIf="operationState === 'CIVICA_CARD_CORRUPTED_DATA'"
      >
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Información de la tarjeta corrupta
      </mat-list-item>


      <mat-list-item
        *ngIf="operationState === 'CIVICA_CARD_READ_FAILED'"
      >
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        fallo al leer la tarjeta, por favor intentelo de nuevo
      </mat-list-item>

      <mat-list-item
        *ngIf="operationState === 'CIVICA_CARD_AUTH_FAILED'"
      >
        <svg-icon
          src="assets/civica-card-reload-pos/arrow_right.svg"
          style="margin-right: 10px"
          [svgStyle]="{ fill: '#3f51b5' }"
        ></svg-icon>
        Fallo en la solicitud de autorización con la tarjeta
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div style="justify-content: flex-end; margin-top: 50px" class="horizontal-container">
  <button
    style="margin-right: 20px"
    mat-stroked-button
    color="primary"
    (click)="retry()"
  >
    Volver
  </button>
</div>
